body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Aggiunto per evitare il taglio del contenuto alla fine della pagina */
    align-items: center;
    min-height: 100vh;
    /* transition: background-color 0.3s ease; */
}

body.dark-mode {
    background-color: #333333;
    color: #fff;

    /* transition: background-color 0.3s ease; */

    #quiz-container {
        background-color: #222;
        /* transition: background-color 0.7s ease; */
    }

    h1,
    h2,
    label {
        color: #b6b6b6
    }

    p {
        color: #808080;
    }

    .button {
        background-color: rgb(53, 70, 179);
        /* transition: background-color 1s ease; */
    }

    .question {
        background-color: #222;
        /* transition: background-color 1s ease; */
    }

    #toggleDarkMode {
        filter: none;
    }

    .question-image {
        filter: invert(1)
    }

    input[type="radio"]:checked+label {
        color: #bdbdbd;
    }

    input[type="radio"]:checked {
        background-color: #afafaf;
    }

    input[type="checkbox"]:checked+label {
        color: #bdbdbd;
    }

    input[type="checkbox"]:checked {
        background-color: #afafaf;
    }
}

.changing-theme {
    animation: themeChangeAnimation 0.5s ease;
}

@keyframes themeChangeAnimation {
    from {
        opacity: 0; /* Esempio di effetto di animazione */
    }
    to {
        opacity: 1;
    }
}

#quiz-container {
    background-color: #fff;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    /* Aggiunto spazio sotto il container delle domande */
}

#score-container {
    margin-top: 20px;
    /* Aggiunto spazio sopra lo score */
}

h1 {
    color: #333;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#reset-button {
    background-color: red;
    color: white;
    /* Opzionale: imposta il colore del testo */
    border: none;
    /* Opzionale: rimuovi il bordo */
    padding: 10px 20px;
    /* Opzionale: aggiusta il padding per una migliore presentazione */
    cursor: pointer;
}

#reset-button:hover {
    background-color: darkred;
    /* Opzionale: cambia il colore al passaggio del mouse */
}

#home-button {
    background-color: #4285f4;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 20px;
}


/* Stile generale per i bottoni radio */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

/* Stile quando il bottone radio è selezionato */
input[type="radio"]:checked {
    border-color: #000000;
    background-color: #464646;
    /* Aggiungi un colore di sfondo se desiderato */
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 4px; /* Rendi i bordi più squadrati */
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
    border-color: #000000;
    background-color: #464646;
    /* Aggiungi un colore di sfondo se desiderato */
}


/* Stile del segnaposto (label) per il testo accanto al bottone radio */
label {
    margin-left: 8px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

/* Stile del testo accanto al bottone radio quando è selezionato */
input[type="radio"]:checked+label {
    color: #464646;
    font-weight: bold;
}

/* Aggiungi stile hover */
input[type="radio"]:hover {
    border-color: #2980b9;
}

input[type="checkbox"]:checked+label {
    color: #464646;
    font-weight: bold;
}

/* Aggiungi stile hover */
input[type="checkbox"]:hover {
    border-color: #2980b9;
}


.question {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    position: relative;
    max-width: 400px;
    /* Imposta la larghezza massima della domanda */
    margin: 0 auto;
    /* Centra la domanda orizzontalmente */
}

.question-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Distanza tra numero e icona */
    width: 100%; /* Assicura che occupi tutta la larghezza */
    margin-bottom: 10px; /* Aggiunge spazio tra header e badge */
}

.question-image {
    width: 100%;
    /* Imposta la larghezza dell'immagine al 100% della larghezza della domanda */
    height: auto;
    /* Mantiene le proporzioni dell'immagine */
    max-width: 100%;
    /* Assicura che l'immagine non superi la larghezza massima della domanda */
    display: block;
    /* Evita spazi vuoti sotto l'immagine */
    margin-bottom: 10px;
    /* Aggiunge spazio sotto l'immagine */
    filter: none;
}

.question-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}


.feedback {
    margin-top: 10px;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.verification-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    /* Imposta la larghezza dell'icona */
    height: 20px;
    /* Imposta l'altezza dell'icona */
    background-size: cover;
}

/* Stile per l'icona di conferma (tick verde) */
.question[data-verified="1"] .verification-icon {
    background-image: url('../img/tick.png');
}

/* Stile per l'icona di avviso (triangolo giallo) */
.question[data-verified="0"] .verification-icon {
    background-image: url('../img/warning.png');
}

#categories-container {
    max-width: 600px;
    display: flex; /* Usa flexbox */
    flex-wrap: wrap; /* Permette ai bottoni di andare a capo se necessario */
    justify-content: center; /* Centra gli elementi */
    margin: 0 auto;
}

.category-badges {
    display: flex;
    flex-wrap: wrap; /* Permette ai badge di andare a capo */
    gap: 5px; /* Spazio tra i badge */
    margin-top: 30px;
    margin-bottom: 10px; /* Distanza tra badge e la domanda */
    align-items: flex-start; /* Evita che i badge vengano tagliati */
}

.category-badges:empty {
    margin-bottom: 0;
    margin-top: 0;
}

.category-badge {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight {
    border: 3px solid white;
    box-shadow: 0 0 5px black;
}

@media (max-width: 400px) {
    .category-badges {
        flex-direction: row;
        justify-content: flex-start; /* Impedisce la compressione e lo spezzamento */
        align-items: flex-start;
    }
}

#toggleDarkMode {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    filter: invert(1);
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 0;
    margin-top: 0;
}

#toggleDarkMode img {
    padding: 1px 6px;
    display: block;
    width: 24px;
    height: 24px;
}


#scrollTopButton, #scrollBottomButton {
    position: fixed;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px; /* Increase font size for the arrow */
    z-index: 1000;
}

#scrollTopButton:hover, #scrollBottomButton:hover {
    background-color: #0056b3;
}

#scrollTopButton {
    bottom: 20px;
    right: 20px;
}

#scrollBottomButton {
    bottom: 20px;
    left: 20px;
}